<launch>

    <node pkg="mitre_fast_layered_map" type="sensor_map_node" name="horizon_map" output="screen">
        <rosparam command="load" file="$(find mitre_fast_layered_map)/config/horizon_map.yaml"/>
        <rosparam command="load" file="$(find mitre_fast_layered_map)/config/filter_chain_low_confidence.yaml"/>
    </node>

</launch>