<launch>

    <node pkg="t_mapping" type="sensor_map_node" name="local_map" output="screen">
        <rosparam command="load" file="$(find t_mapping)/config/local_map_no_memory.yaml"/>
        <rosparam command="load" file="$(find t_mapping)/config/filter_chain_no_memory.yaml"/>
    </node>

</launch>