<launch>
        <node pkg="mitre_fast_layered_map" type="sensor_map_node" name="local_map" output="screen"
            launch-prefix="valgrind --tool=callgrind --callgrind-out-file='callgrind.mitre_fast_layered_map.%p'">

            <rosparam command="load" file="$(find mitre_fast_layered_map)/config/local_map.yaml" />

            <rosparam command="load" file="$(find mitre_fast_layered_map)/config/filter_chain.yaml" />
        </node>

</launch>